#-----------------------------#
# [EN] Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#-----------------------------#


set mysql_connection_string "server=127.0.0.1;database=astralrp;userid=root;"
set mysql_slow_query_warning 100
set mysql_debug "false"
set mysql_transaction_isolation_level 2

setr txEnableMenuBeta true

set sv_lan 1

#-----------------------------#
add_ace resource.console command allow
sv_scriptHookAllowed 0
sets tags "custom cars, police, ems, drugs, hiring, sales, jobs, serious roleplay, custom scripts, custom framework, whitelist"
setr voice_use3dAudio false
setr voice_useSendingRangeOnly true
setr voice_useNativeAudio true
set sv_enforceGameBuild 2802
#-----------------------------#

sets locale "en-US" 
sets banner_detail "https://cdn.discordapp.com/attachments/1000089013736194088/1092048786840363058/lc3.PNG"
sets banner_connecting "https://cdn.discordapp.com/attachments/1000089013736194088/1092048786840363058/lc3.PNG"
sets discord "http://discord.gg/lucityrp"

# Set your server's hostname. This is not usually shown anywhere in listings.
sv_hostname "^6 LucityRP 1.0 Beta"

# Set your server's Project Name
sets sv_projectName "^6 LucityRP 1.0 Beta"

# Set your server's Project Description
sets sv_projectDesc "whitelist, Active Community, Roleplay"

# Nested configs!
exec resources.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon "logo.png"

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000147502258 group.admin # add the admin to the group
add_principal identifier.steam:11000010c224083 group.admin # admin ting


add_ace group.admin lucityrp-weathersync.commands.weather allow # /Weather
add_ace group.admin lucityrp-weathersync.commands.time allow # /time

add_ace group.mba mba allow
add_principal identifier.steam:110000147502258 group.mba
add_principal identifier.steam:110000143a8bd16 group.mba

# enable OneSync (required for server-side state awareness)
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
set onesync_enabled 1

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 10

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "D03BCAEDD475C076CFBF8E5A94AA4019"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey cfxk_1NDrtpCGWWFMhxCMpWaWq_4efzvH